<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column min-vh-100">
    {{> navbar links = navLinks}}
    <div class="container my-3">
      <h1 class="mb-3">Home</h1>
      {{#if userName}}
        <p>Welcome, {{userName}}!</p>
        {{#if borrowedItems}}
          <p>You are currently borrowing the following items:</p>
          <ul class="list-group mb-3">
            {{#each borrowedItems}}
              <li class="list-group-item"> คุณได้ยืม: "{{this.itemName}}" เป็นจำนวน [{{this.quantity}}] ชิ้น</li>
            {{/each}}
          </ul>
        {{else}}
          <p>You are not currently borrowing any items.</p>
        {{/if}}
      {{else}}
        <p>Please log in to see your borrowed items.</p>
      {{/if}}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {{> footer currentYear = currentYear}}  
  </body>
</html>